/*
*
* Author: Codingest
* Template Name: JEGRUN
*
*/
.content {
    padding: 20px;
    padding-bottom: 80px;
}

.content-wrapper {
    min-height: 1600px !important;
}

.sidebar-menu {
    min-height: 1360px !important
}

.box-header {
    padding-bottom: 5px;
}

.skin-blue .sidebar-menu > li.header {
    text-transform: uppercase;
    padding: 12px 22px;
}

.sidebar-menu > .active > a {
    color: #fff !important;
}

button, a {
    outline: none !important;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.sidebar-collapse .sidebar-menu > li > a {
    padding: 12px 13px !important;
}

.main-header {
    z-index: 100 !important;
}

.main-sidebar {
    z-index: 99 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.td-options {
    max-width: 180px !important;
}

.th-options {
    max-width: 90px !important;
}

.table-responsive {
    overflow-x: visible !important;
}

.btn-select-option {
    font-size: 12px;
    margin: 0;
    padding: 3px 6px;
}

.options-dropdown {
    left: -25px;
}

.options-dropdown li a {
    font-weight: 600;
    padding: 8px;
}

.options-dropdown li button {
    font-weight: 600;
    padding: 8px;
    width: 100%;
    background: transparent;
    border: none;
    margin: 0;
    text-align: left;
}

.options-dropdown li button:hover {
    background-color: #f1f1f1;
    color: #333;
}

.user-panel > .image > img {
    border: 1px solid #4F5565;
}

label {
    font-weight: 600 !important;
}

.error-message {
    margin-top: 15px;
    padding-left: 15px;
}

.error-message p {
    position: relative;
    color: #d43f3a;
    display: list-item;
    margin-bottom: 5px;
}

.success-message {
    margin-top: 15px;
    padding-left: 15px;
}

.success-message p {
    position: relative;
    color: #00a65a;
    margin-bottom: 5px;
}

.input-error {
    border-color: #dc3545 !important;
}

.alert {
    display: inline-block;
    padding: 3px 36px 3px 8px;
    margin-bottom: 0 !important;
}

.alert h4 {
    font-size: 14px;
    width: auto !important;
    margin: 0;
    font-weight: normal;
    display: inline-block;
}

.alert-large {
    padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    display: block !important;
}

.alert-dismissable .close, .alert-dismissible .close {
    top: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dfe0e6;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group .input-group-addon {
    border-radius: 3px !important;
    border-color: #d2d6de !important;
    background-color: #eee !important;
}

div.tagsinput {
    border: 1px solid #ced4da;
    background: #FFF;
    padding: 5px;
    width: 300px;
    height: 100px;
    border-radius: 3px;
}

.col-option {
    margin-top: 5px;
}

.col-option label {
    margin-left: 8px !important;
    cursor: pointer !important;
}

.item-table-filter {
    float: left;
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-table-delete {
    display: none;
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    font-size: 16px;
    width: 24px;
}

.td-product {
    position: relative;
}

.td-product img {
    width: 100px;
    float: left;
    margin-right: 8px;
}

.td-product .label {
    position: absolute;
    left: 12px;
    top: 12px;
}

.row-product-details {
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.row-product-images {
    border: 0 !important;
    margin-bottom: 30px;
}

.row-product-details .image {
    float: left;
    width: 182px;
    height: 182px;
    margin-right: 15px;
}

.row-product-details .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-product-details .image:last-child {
    margin-right: 0;
}

.option-icon {
    margin: 0 !important;
    width: 30px;
    text-align: center;
}

.label-table {
    white-space: nowrap;
    line-height: 13px !important;
    display: inline-block;
    font-weight: 400 !important;
}

.nowrap {
    white-space: nowrap;
}

.treeview-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.treeview-menu > li > a {
    display: block;
    font-size: 14px;
    padding: 8px 20px 8px 47px;
}

.max-600 {
    max-width: 600px;
}

.max-500 {
    max-width: 500px;
}

.btn-file-upload {
    position: relative;
}

.btn-file-upload input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}

.upload-file-input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}

.a-table {
    color: #55606e;
}

.display-block {
    display: block;
    width: 100%;
}

.tagsinput {
    cursor: text;
}

.navbar-custom-menu {
    margin-right: 20px;
}

.user-menu > a {
    background-color: transparent !important;
}

.user-menu .dropdown-menu {

}

.user-menu .user-image {
    float: left;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -10px !important;
    border: 2px solid #eee;
}

.user-menu .dropdown-menu > li > a {
    border-radius: 3px;
    line-height: 25px;
    margin: 4px;
    text-align: left;
}

.user-menu .dropdown-toggle span {
    font-weight: 600;
}

.user-menu .dropdown-menu {
    box-shadow: 0 0 5px rgba(86, 96, 117, 0.2);
}

.navbar-nav > .user-menu > .dropdown-menu {
    width: auto;
    position: absolute;
    background-color: #fff;
}

.user-panel .image {

}

.user-panel .info {

}

.navbar-custom-menu .nav .btn-site-prev {
    background-color: #00a65a !important;
    border-color: #008d4d !important;
    color: #fff !important;
    margin-right: 10px !important;
    margin-top: 15px !important;
    padding: 4px 12px !important;
}

.settings-tab-content {
    padding: 20px !important;
}

.cache-toggle .btn {
    height: 36px !important;
}

.cache-toggle label {
    border: 0 !important;
    top: 0 !important;
    line-height: 22px !important;
}

.cache-toggle .toggle {
    display: block;
    width: 160px !important;
}

.table-no-sort {
    padding-right: 10px !important;
    text-align: left !important;
}

.table-no-sort:after {
    display: none !important;
}

.rating .fa-star {
    color: #fbc12a;
    font-size: 14px;
    line-height: 14px;
}

.rating .fa-star-o {
    color: #aaa;
    font-size: 14px;
    line-height: 14px;
}

.break-word {
    word-break: break-all;
}

.box-sm .box-header {
    padding: 20px;
}

.box-sm .box-body {
    padding-top: 0;
}

.index-table {
    max-height: 300px;
    overflow-y: auto;
}

.table-sm-meta {
    color: #999;
    font-size: 12px;
    margin-top: 2px;
    display: block;
}

.table-sm-meta i {
    margin-right: 5px;
}

#cs_datatable_lang_length {
    margin-right: 30px;
}

#cs_datatable_lang_wrapper select {
    margin-left: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 10px;
}

#table_dropdown {
    display: inline-block;
}

table.dataTable {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.user-panel {
    min-height: 90px;
}

.btn {
    box-shadow: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #0084CE;
    border-color: #0084CE;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #0e7bb8 !important;
    border-color: #0e7bb8 !important;
}

.btn-success {
    color: #fff;
    background-color: #19a185;
    border-color: #19a185;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #fff;
    background-color: #13967b !important;
    border-color: #13967b !important;
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #13967b !important;
    border-color: #13967b !important;
}

.btn-info {
    color: #fff;
    background-color: #3aadd7;
    border-color: #3aadd7;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #fff;
    background-color: #2d98c0 !important;
    border-color: #2d98c0 !important;
}

.btn-danger {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #fff;
    background-color: #b63e3e !important;
    border-color: #b63e3e !important;
}

.btn-warning {
    color: #fff;
    background-color: #f1b740;
    border-color: #f1b740;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #dea530 !important;
    border-color: #dea530 !important;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.bg-primary {
    background-color: #34a1b9;
}

.bg-success {
    background-color: #19a185;
}

.bg-info {
    background-color: #029dd2;
}

.bg-danger {
    background-color: #DE524A;
}

.bg-warning {
    background-color: #f1b740;
}

.admin-small-box {
    position: relative;
}

.admin-small-box .inner {
    position: relative;
    color: #fff !important;
    padding: 20px;
}

.admin-small-box .inner a {
    color: #fff !important;
}

.admin-small-box .icon {
    top: 0px;
    right: 20px;
    z-index: 0;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.10);
}

.admin-small-box .icon a {
    color: rgba(0, 0, 0, 0.10) !important;
}

.small-box:hover .icon {
    font-size: 70px;
}

.index-td-product img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.users-list > li {
    float: left;
    text-align: center !important;
    width: 16.6%;
}

.users-list > li img {
    width: 100%;
}

.small-title {
    color: #979ba1;
    display: block;
    margin-top: 5px;
}

.small-title-inline {
    color: #979ba1;
    margin-top: 5px;
}

.post-select-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    max-width: 280px;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 2px;
}

.post-select-image-container .btn-select-image {
    width: 100%;
    height: 200px;
}

.post-select-image-container img {
    display: block;
    height: 200px;
    width: auto;
    min-width: 100%;
    margin: 0 auto;
    max-width: none;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.row-layout-items {
    display: block;
    width: 100%;
    float: left;
}

.row-layout-items .layout-item {
    cursor: pointer;
    display: block;
    max-width: 320px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.row-layout-items .layout-item img {
    border-radius: 3px;
}

.row-layout-items .layout-item button {
    border-radius: 3px;
    background-color: #E4E4E4 !important;
    padding: 5px;
    padding-bottom: 0;
}

.row-layout-items .layout-item button p {
    padding: 10px 0;
    margin: 0;
}

.row-layout-items .active button {
    background-color: #222e33 !important;
    color: #fff;
}

.row-layout-items .active button img {
    border: 1px solid #474747;
}

#location_countries {
    display: none;
}

.modal {
    z-index: 99999999 !important;
}

.box-header .left {
    float: left;
}

.box-header .right {
    float: right;
}

table.dataTable thead > tr > th {
    font-weight: 600;
}

.category-label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #dd4b39;
    display: inline-block;
}

.table-user-link {
    color: #333;
    font-weight: 600;
}

.table-user-link strong {
    font-weight: 600;
}

.form-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-title {
    font-weight: 600;
    font-size: 20px;
    float: left;
    margin: 0;
    position: relative;
    top: 6px;
}

.form-title-post-format {
    width: 100%;
    display: block;
    text-align: center;
    top: 0;
}

.form-post {
    display: table;
    position: relative;
    width: 100%;
}

.form-post-left {
    display: table-cell;
    padding-right: 20px;
    vertical-align: top;
}

.form-post-right {
    display: table-cell;
    width: 320px;
    max-width: 320px;
    vertical-align: top;
}

.btn-draft {
    margin-right: 10px;
}

#date_published_content {
    display: none;
}

.category-block-box {
    width: 130px;
    height: 160px;
    float: left;
}

.cat-block-img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

#MultidvPreview {
    width: 100%;
    display: block;
    margin-top: 15px;
}

#MultidvPreview img {
    width: auto !important;
    height: auto !important;
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-add-new i {
    margin-right: 5px;
}

.td-post-item {
    display: table;
    width: 100%;
    min-width: 180px;
}

.td-post-item a {
    color: #55606e;
    display: inline-block;
}

.td-post-item .post-image {
    display: table-cell;
    vertical-align: top;
    width: 85px;
}

.td-post-item .post-image .image {
    width: 85px;
    height: 60px;
    overflow: hidden;
}

.td-post-item .post-image img {
    min-width: 85px;
    min-height: 60px;
    object-fit: cover;
}

.td-post-item .post-title {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}


.td-post-item a:hover {
    text-decoration: underline;
}

.td-post-item .preview {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.td-post-item .btn {
    color: #fff !important;
    text-decoration: none !important;
    display: inline-block;
    width: auto;
    padding: 4px 10px;
}

.td-post-item .btn i {
    margin-right: 8px;
}

.post-format-container {
    text-align: center;
}

.post-format-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px
}

.post-format-container .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 800px
}

.post-format-container .row {
    margin-left: -5px;
    margin-right: -5px
}

.post-format-container .row {
    margin-left: -5px;
    margin-right: -5px
}

.post-format-container .col-add-post {
    padding-left: 5px;
    padding-right: 5px
}

.post-format-container .modal-header {
    border: 0 !important;
    text-align: center;
    padding: 30px 20px
}

.post-format-container .modal-body {
    padding: 20px;
    padding-bottom: 30px
}

.post-format-container .modal-content {
    border-radius: 4px
}

.post-format-container .modal-header .modal-title {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase
}

.post-format-container .item {
    width: 100%;
    height: 215px;
    background-color: #fcfcfc;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.post-format-container .item-icon {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #fff;
    border-radius: 100%;
    margin: 0 auto;
}

.post-format-container .item-icon i {
    font-size: 48px;
    color: #1abc9c;
}

.post-format-container .item-icon .icon-video, .post-format-container .item-icon .icon-music {
    font-size: 44px;
}

.post-format-container .item .title {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
    color: #333 !important;
    font-weight: 600;
}

.post-format-container .item .desc {
    color: #a6a6a6;
    text-align: center;
    margin-bottom: 0
}

.post-format-container .close {
    position: absolute;
    right: 20px;
    top: 20px
}

.post-format-container .item:hover {
    background-color: #f9f9f9
}

.control-label-content {
    font-size: 16px;
}

.slider-order {
    width: 150px;
}

.slider-order-left {
    width: 90px;
    float: left;
    text-align: left;
}

.slider-order-left input {
    width: 70px !important;
    height: 30px !important;
    float: left;
}

.slider-order-right {
    width: 40px;
    float: left;
    text-align: left;
}

.btn-delete-additional-image-database, .btn-delete-additional-image {
    position: absolute;
    top: 0;
    padding: 0;
    margin-left: -11px;
    margin-top: -8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
}

.additional-image-list {
    width: auto;
}

.additional-image-list .additional-item {
    display: block;
    margin-top: 15px;
    position: relative;
}

.img-additional {
    width: 200px;
}

.file-reset-button {
    display: none;
    padding: 6px 10px;
}

.post-selected-files-container {
    max-height: 200px;
    overflow-y: auto;
}

.post-selected-files {
    display: block;
    width: 100%;
}

.post-selected-files .item {
    margin-top: 15px;
    display: table;
    width: 100%;
}

.post-selected-files .item .left {
    width: 20px;
    display: table-cell;
    vertical-align: top;
}

.post-selected-files .item .center {
    display: table-cell;
    vertical-align: top;
    word-break: break-word;
}

.post-selected-files .item .right {
    width: 30px;
    display: table-cell;
    vertical-align: top;
    text-align: right;
}

.post-selected-files .item p {
    margin: 0;
}

.post-selected-files .item .center span {
    position: relative;
    top: -1px;
}

.btn-selected-file-list-item {
    position: relative;
    top: 0;
    padding: 0;
    margin-left: -11px;
    margin-top: -8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    background-color: #DE524A !important;
}

.btn-selected-file-list-item:hover {
    background-color: #bd2130 !important;
}

.btn-selected-file-list-item i {
    color: #fff !important;
    font-size: 12px !important;
}

.table > thead > tr > th {
    font-weight: 600;
}

.input-custom-time {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
}

.form-group small {
    color: #979ba1;
}

.settings-tab-content {
    padding: 20px !important;
}

.btn-get-embed {
    margin-top: 5px;
}

.video-upload-tab > .nav-tabs {
    border-bottom: 0 !important;
    display: table;
}

.video-upload-tab > .nav-tabs > li {
    margin-right: 0 !important;
    float: none !important;
    display: table-cell;
    vertical-align: top;
}

.video-upload-tab > .nav-tabs > li a {
    display: block;
}


.video-embed-preview {
    display: none;
    width: 100%;
    height: 200px;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #d2d6de;
}

.visual-color-box {
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

#cke_1_contents {
    min-height: 300px !important;
}

.tags-input {
    height: 120px;
}

.video-preview {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
}

select.input-sm {
    height: 30px;
    line-height: 18px;
}

.control-panel-lang-btn {
    display: block;
    width: 95%;
    max-width: 100%;
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
    border-radius: 3px;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #777;
    white-space: nowrap;
}

.control-panel-lang-btn:hover {
    background-color: #f1f1f1;
    color: #333;
}

.bulk-options button {
    margin-right: 8px;
    margin-bottom: 8px;
}

.phrases-search {
    position: absolute;
    right: 15px;
    top: 0;
    max-width: 400px;
}

.phrases-search input {
    float: left;
    display: inline-block;
    width: 300px;
}

.phrases-search button {
    float: left;
    display: inline-block;
    border-radius: 0 3px 3px 0;
}

.btn-select-image {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    background: #f8f9fb;
    border: 2px dashed #e4e5e7;
    border-radius: 3px;
    cursor: pointer;
}

.btn-select-image .btn-select-image-inner {
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 98px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn-select-image .select-img-text {
    font-size: 14px;
    color: #979ba1;
}

.btn-select-image .btn {
    border-color: #cfd3d9 !important;
    background-color: transparent !important;
    color: #979ba1 !important;
    font-size: 13px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-select-image i {
    display: block;
    font-size: 48px;
    line-height: 48px;
    color: #dadbdd;
    margin-bottom: 15px;
}

.post-list-items .post-list-item .btn-post-list-item-image {
    position: relative;
    width: 238px;
    height: 183px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: #f8f9fb;
    border: 2px dashed #e4e5e7;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

/*post list items*/
.post-list-items .panel-default .panel-heading {
    background-color: transparent;
    border: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    position: relative;
}

.post-list-items .panel {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

.post-list-items .panel-title {
    position: relative;
    padding: 15px !important;
    padding-right: 130px !important;
    font-weight: 600;
    line-height: 20px;
}

.post-list-items .panel-title::after {
    content: "\f107";
    color: #333;
    position: relative;
    font-family: "FontAwesome";
    margin-left: 15px;
}

.post-list-items .panel-title[aria-expanded="true"]::after {
    content: "\f106";
}

.post-list-items .panel-body {
    padding-top: 0;
    border-top: 0 !important;
}

.post-list-items .post-list-item {
    display: block;
    width: 100%;
    position: relative;
}

.post-list-items .post-list-item .form-group {
    margin-bottom: 15px !important;
}

.post-list-items .post-list-item .item-top {
    display: table;
    width: 100%;
    position: relative;
}

.post-list-items .post-list-item .item-top .left {
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
}

.post-list-items .post-list-item .item-top .right {
    display: table-cell;
    vertical-align: top;
    width: 238px;
}

.post-list-items .post-list-item .post-list-item-image-container {
    position: relative;
    width: 100%;
    display: block;
}

.post-list-items .post-list-item .btn-post-list-item-image {
    position: relative;
    width: 238px;
    height: 183px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: #f8f9fb;
    border: 2px dashed #e4e5e7;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.post-list-items .post-list-item .post-list-item-image-container {
    height: 183px;
    width: 238px;
    overflow: hidden !important;
    border-radius: 3px;
    border: 1px solid #eee;
}

.post-list-items .post-list-item .post-list-item-image-container img {
    display: block;
    height: 183px;
    width: auto;
    margin: 0 auto;
    max-width: none;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn-delete-selected-file-image {
    position: absolute;
    top: 0;
    padding: 0;
    right: 0;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
}

.post-list-items .post-list-item .post-list-item-image-container .btn-delete {
    position: relative;
    width: 100%;
    display: block;
}


.post-list-items .btn-delete-list-item {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 4px !important;
    font-size: 14px;
    line-height: 14px;
}

.btn-add-post-item {
    padding: 10px 70px;
}

.btn-add-post-item i {
    margin-right: 15px;
}

.btn-group-post-list-option {
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: #f7f8fa;
    border: 1px solid #eee;
    border-radius: 3px;
}

.btn-group-post-list-option .btn {
    border: 1px solid #f6f6f6 !important;
    color: #55606e;
    background-color: #f7f8fa;
    float: right;
}

.btn-group-post-list-option input {
    border: 1px solid #f6f6f6 !important;
    padding: 6px 12px;
    float: left;
    margin-right: 5px;
    width: 70px;
}

.btn-group-post-list-option .btn:hover {
    background-color: #e6e7e9 !important;
}

.post-list-items-sort .panel:nth-of-type(1) .btn-list-option-up {
    display: none;
}

.post-list-items-sort .panel:last-child .btn-list-option-down {
    display: none;
}

/*Quiz*/
.post-list-items .list-item-description {
    display: table;
    width: 100%;
    position: relative;
}

.post-list-items .question-description {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee !important;
}


.post-list-items .result-description {
    border-bottom: 0 !important;
    margin-bottom: 0;
}

.post-list-items .list-item-description .left {
    display: table-cell;
    vertical-align: top;
    width: 260px;
    position: relative;
    padding-right: 15px;
}

.post-list-items .list-item-description .left .btn-select-image {
    width: 245px;
    height: 200px;
}

.post-list-items .list-item-description .right {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.post-list-items .quiz-question-image-container, .post-list-items .list-item-image-container {
    position: relative;
    width: 245px;
    height: 200px;
    overflow: hidden;
    border-radius: 2px;
}

.post-list-items .quiz-question-image-container img, .post-list-items .list-item-image-container img {
    display: block;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.quiz-answers {
    display: block;
    float: left;
    width: auto;
    max-width: 848px;
    position: relative;
}

.quiz-answers .answer {
    width: auto;
    height: auto;
    display: block;
    float: left;
    position: relative;
    border-radius: 3px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px;
}

.quiz-answers .answer .form-group {
    margin-bottom: 10px;
}

.quiz-answers .answer-inner {
    width: 260px;
    height: auto;
    display: block;
    float: left;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .10);
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .10);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .10);
}

.quiz-answers .row-answer {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.quiz-answers-format-large-image {
    max-width: 574px;
}

.btn-group-answer-formats-container {
    max-width: 840px;
    text-align: center;
    margin-bottom: 15px;
}

.btn-group-answer-formats .btn {
    background-color: #f7f8fa !important;
    border: 1px solid #eee !important;
    font-size: 16px;
    color: #55606e !important;
}

.btn-group-answer-formats .btn:hover, .btn-group-answer-formats .active {
    background-color: #e6e7e9 !important;
}

.quiz-answers-format-text {
    width: 100%;
}

.quiz-answers-format-text .answer {
    width: 100% !important;
    min-width: 0 !important;
    height: auto !important;
}

.quiz-answers-format-text .answer-inner {
    width: 100% !important;
    height: auto !important;
}

.quiz-answers-format-text .quiz-answer-image-item {
    display: none !important;
}

.quiz-answers-format-text .answer-text {
    height: 60px;
    border-top: 0 !important;
    padding-top: 15px;
}

.quiz-answers .answer-text {
    resize: none !important;
    border: 0 !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    margin-bottom: 5px;
    height: 60px;
}

.quiz-answers .quiz-answer-image-item {
    padding: 20px;
}

.quiz-answers .quiz-answer-image-container {
    position: relative;
    width: 218px;
    height: 205px;
    overflow: hidden;
    border-radius: 3px;
}

.quiz-answers .quiz-answer-image-container img {
    display: block;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

.quiz-answers .quiz-answer-image-container .btn-select-image {
    width: 100%;
    height: 100%;
}

.quiz-answers .answer-radio-container {
    display: table;
    width: 100%;
    padding-left: 12px;
}

.quiz-answers .answer-radio-container .left {
    display: table-cell;
    vertical-align: top;
    width: 34px;
}

.quiz-answers .answer-radio-container .right {
    display: table-cell;
    vertical-align: top;
}

.quiz-answers .answer-radio-container label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quiz-answers .answer-select-container {
    display: block;
    width: 100%;
    padding: 0 10px;
}

.quiz-question .span-answer-format {
    display: block;
    width: 100%;
    color: #979ba1;
    font-size: 13px;
    margin-bottom: 5px;
}

.quiz-answers .btn-add-answer {
    padding: 10px 70px;
    color: #55606e;
    border-color: #e7e7e7;
    background-color: #f7f8fa;
    margin: 10px 0;
}

.btn-add-answer:hover {
    background-color: #eff0f2;
}

.quiz-answers .btn-add-answer i {
    margin-right: 10px;
}

.quiz-answers .btn-delete-answer {
    color: #d3d4d6;
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 6px;
}


/*Sortable*/
.navigation-editable {
    width: 100%;
}

.navigation-editable .nav-item {
    position: relative;
}

.navigation-editable .panel-heading {
    cursor: pointer;

}

.navigation-editable .panel-title span {
    font-weight: 500 !important;
}

.navigation-editable .panel-title span em {
    color: #979ba1;
    font-size: 12px;
    margin-left: 15px;
    font-style: normal !important;
    font-weight: 300;
    text-transform: lowercase;
}

.navigation-editable .panel-title i {
    float: right;
    font-size: 14px;
    color: #555;
    position: relative;
    top: 2px;
    right: 5px;
}

.navigation-editable .btn-nav-edit {
    float: right;
    font-size: 13px;
    position: absolute;
    padding: 1px 6px !important;
    color: #eee;
    top: 8px;
    right: 79px;
}

.panel-body-sublinks .btn-nav-edit {
    float: right;
    font-size: 13px;
    position: absolute;
    padding: 0 6px !important;
    color: #eee;
    right: 79px;
}

.navigation-editable .btn-nav-delete {
    right: 50px;
}

.btn-show-hide-home {
    pointer-events: auto;
    right: 50px !important;
}

.navigation-editable .panel-body {
    padding: 0;
    min-height: 42px;
    border: 0 !important;
}

.navigation-editable .list-group-item {
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    cursor: pointer;
    margin: 0 !important;
}

.navigation-editable .list-group-item:hover {
    background-color: #fbfbfb;
}

.navigation-editable .list-group-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0 !important;
}

.navigation-editable .list-group-item button {
    float: right;
    border: 0;
    box-shadow: none;
    padding: 0 !important;
    background-color: transparent;
}

.navigation-sub-items {
    display: none;
    min-height: 50px;
    background-color: #eee;
}

.navigation-editable > .list-group-item {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border: 1px solid #ddd !important;
}

.panel-body-sublinks .panel-default > .panel-heading {
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    cursor: pointer;
    margin: 0 !important;
    background-color: #fff !important;
}

.panel-body-sublinks .panel-body-sublinks {
    display: none !important;
}

.panel-body-sublinks span em {
    display: none !important;
}

.editor-buttons button {
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
}

textarea {
    resize: vertical !important;
    min-height: 60px;
}

.tagsinput {
    height: 60px !important;
    min-height: 60px !important;
}

/*Swal*/
.swal-button {
    border-color: transparent !important;
}

.swal-button-container {
    border-color: transparent !important;
}

.swal-button:focus {
    box-shadow: none !important;
}

.swal-modal {
    width: 400px;
}

.swal-icon {
    width: 60px;
    height: 60px;
}

.swal-icon--warning__body {
    height: 28px;
}

.swal-button {
    border-radius: 3px !important;
    padding: 8px 22px !important;
}

.swal-button:focus {
    box-shadow: none !important;
}

.swal-text {
    font-size: 14px !important;
}

.sidebar-collapse .user-panel img {
    display: none
}

.item-table-filter-long {
    width: 300px;
    max-width: 100%;
}

.csv-uploaded-files-container {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 15px;
}

.dm-uploader-csv {
    height: 172px !important;
    min-height: 172px !important;
    overflow: hidden !important;
}

.dm-uploader-csv .dm-upload-icon {
    margin-top: 15px !important;
}

.csv-uploaded-files {
    margin-bottom: 0;
}

.csv-uploaded-files .list-group-item {
    padding: 8px 15px;
    border: 0 !important;
}

.csv-upload-spinner {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
}

.csv-upload-spinner strong {
    display: block;
    margin-bottom: 10px;
}

.csv-upload-spinner .text-csv-import-completed {
    display: none;
}

.csv-category-list p {
    margin-bottom: 4px;
    font-weight: 600;
}

.link-black {
    color: #55606e !important;
}

.link-black:hover {
    text-decoration: underline;
}

@media (max-width: 1400px) {
    .quiz-answers .answer-inner {
        width: 217px;
    }

    .quiz-answers .quiz-answer-image-container {
        width: 175px;
        height: 164px;
        max-width: 100%;
    }

    .row-layout-items .layout-item {
        cursor: pointer;
        display: block;
        max-width: 300px;
        float: left;
        margin-right: 20px;
    }
}

@media (max-width: 1280px) {
    .table-responsive {
        overflow-x: auto !important;
    }

    .post-list-items .list-item-description {
        display: block;
    }

    .post-list-items .list-item-description .left {
        display: block;
        width: 231px;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 15px;
    }

    .post-list-items .list-item-description .right {
        display: block;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .form-post {
        display: block !important;
    }

    .form-post-left {
        width: 100%;
        display: block;
        padding-right: 0px;
    }

    .form-post-right {
        width: 100%;
        display: block;
        max-width: 100%;
    }

    .table-responsive {
        min-height: 0.01%;
        overflow-x: auto;
    }

    .btn-delete-additional-image-database {
        left: 15px !important;
        right: auto !important;
    }

    .additional-image-list .btn-delete-additional-image-database {
        left: 0 !important;
    }

    .additional-image-list .btn-delete-additional-image {
        left: 0 !important;
    }

}

@media (max-width: 900px) {

    .file-manager-left {
        display: block !important;
        width: 100% !important;
    }

    .file-manager-right {
        display: block !important;
        width: 100% !important;
    }

    .file-manager-footer {
        margin-left: 0 !important;
    }
    td .options-dropdown{
        position: relative !important;
    }
}

@media (max-width: 768px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #55606e !important
    }

    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background-color: #ebebeb !important
    }

    .form-post-left {
        margin-bottom: 30px;
    }

    .post-list-items .post-list-item .item-top {
        display: block;
        width: 100%;
    }

    .post-list-items .post-list-item .item-top .left {
        display: block;
        width: 100%;
        padding-right: 0;
    }

    .post-list-items .post-list-item .item-top .right {
        display: block;
        width: 100%;
    }

    .post-list-items .panel-title::after {
        position: relative;
        right: 0;
    }

    .content {
        margin-top: 30px;
        padding: 15px;
    }

    .main-sidebar {
        padding-top: 128px;
    }

    .dataTables_wrapper {
        padding-top: 15px;
    }

    #table_dropdown {
        margin-left: 15px;
        width: 220px;
    }

    #table_dropdown label {
        display: inline-block !important;
    }

    #table_dropdown select {
        display: inline-block !important;
        width: 120px;
    }

    .table-filter-container {
        padding: 15px;
    }

    #cs_datatable_lang_length {
        text-align: left;
        margin-left: 15px;
    }

    #cs_datatable_lang_filter {
        text-align: left;
        margin-left: 15px;
    }

    #cs_datatable_length {
        text-align: left;
        margin-left: 15px;
    }

    #cs_datatable_filter {
        text-align: left;
        margin-left: 15px;
    }

    .loader-file-manager {
        position: relative;
        top: 0px;
        text-align: center;
        width: 100%;
    }

    .phrases-search {
        position: relative;
        margin-left: 17px;
        margin-bottom: 10px;
    }

    .phrases-search input {
        width: 180px;
    }

    .quiz-answers .quiz-answer-image-container {
        width: 175px;
        height: 164px;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .users-list > li {
        width: 33.33%;
    }

    .btn-add-new {
        margin-bottom: 5px;
    }

    .item-table-filter {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .quiz-answers .answer {
        width: 100%;
    }

    .quiz-answers .answer-inner {
        width: 100%;
    }

    .quiz-answers .quiz-answer-image-container {
        width: 100%;
        height: 180px;
        max-width: 100%;
    }

    .post-list-items .list-item-description .left {
        width: 100%;
    }

    .post-list-items .quiz-question-image-container, .post-list-items .list-item-image-container {
        width: 100%;
    }

    .post-list-items .list-item-description .left .btn-select-image {
        width: 100%;
    }
}

.sk-fading-circle {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #605ca8;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/*spinner*/
.spinner {
    margin: 0 auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #19a185;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
